@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --padding-container: 0px 0;
    --color-title: #001A49;
}

body{
    font-family: 'Roboto Slab', serif;
}
.container{
    width: 90%;
    max-width: 1700px;
    margin: 0 auto;
    overflow: hidden;
    padding: var(--padding-container);
}

.hero{
    width: 100%;
    height: 100vh;
    min-height: 600px;
    max-height: 800px;
    position: relative;
    display: grid;
    grid-template-rows: 200px 1fr;
}

.hero::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../imagenes/fondo1.png');
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    z-index: -1;

}

.nav{
    --padding-container: 0;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav_tittle{
    font-weight: 300;
}

.nav__link{
    margin-left: auto;
    padding: 0;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 2em;
}

.nav__items{
    list-style: none;
}



.nav__links{
    color: aqua;
    text-decoration: none;
}

.nav__menu{
    margin-left: auto;
    cursor: pointer;
    display: none;
}

.nav__img{
    display: block;
    width: 30px;
}


.hero__container{
    max-width: 800px;
    display: grid;
    --padding-container: 0;
    display: grid;
    grid-auto-rows: max-content;
    align-content: center;
    gap: 1em;
    padding-bottom: 100px;
    text-align: center;
}

.hero__title{
    font-size: 3rem; /* aqui el cuadro del texto del inicio */
}

.cta{
    display: inline-block;
    background-color: darkblue;
    justify-self: center;
    color: white;
    text-decoration: none;
    padding: 13px 30px;
    border-radius: 32px;
}





.funciones{
    background-color: palegreen;
    content: "";
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background-size: cover;
}

.function{
    position: relative;
    text-align: center;
    height: auto;
}

.subtitle{
    color: var(--color-title);
    font-size: 2rem;
    margin-bottom: 25px;
    padding-top: 25px;
}

.texto{
    color: var(--color-title);
    font-size: 1rem;
    padding-top: 20px;
    margin-bottom: 25px;
}

.about__function{
    padding-top: 40px;
    display: grid;
    width: 100%;
    margin: 0 auto;
    gap: 1em;
    overflow: hidden;
    grid-template-columns: repeat(auto-fit, minmax(260px, auto));
}

.about_icon1{
    width: 80px;
    padding-bottom: 9px;
}
.about_icon2{
    width: 80px;
    padding-bottom: 29px;
}
.about_icon3{
    width: 80px;
    padding-bottom: 18px;
}
.about_icon4{
    width: 80px;
}

.function__paragraph{
    padding-bottom: 15px;
}

.function__icons{
    display: grid;
    gap: 1em;
    justify-items: center;
    width: 260px;
    overflow: hidden;
    margin: 0 auto;
    border-style: dashed;
    border-radius: 20px;
}

.about_diagrama{
    background-size: cover;
    width: 80%;
    justify-self: center;
}

.function__container{
    padding-top: 50px;
    max-width: 800px;
    display: grid;
    --padding-container: 0;
    display: grid;
    grid-auto-rows: max-content;
    align-content: center;
    gap: 1em;
    padding-bottom: 100px;
    text-align: center;
}

.cta2{
    display: inline-block;
    background-color: darkblue;
    justify-self: center;
    color: white;
    text-decoration: none;
    padding: 13px 30px;
    border-radius: 32px;
}




.texto2{
    color: var(--color-title);
    font-size: 1.5rem;
    padding-top: 20px;
    margin-bottom: 25px;
}

.nosotros{
    background-color: #8CC2F9;
    content: "";
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background-size: cover;
}

.nosotros{
    text-align: center;
    height: auto;
}

.about__nosotros{
    padding-top: 40px;
    display: grid;
    width: 100%;
    margin: 0 auto;
    gap: 1em;
    overflow: hidden;
    grid-template-columns: repeat(auto-fit, minmax(260px, auto));
}

.cuadro_integrante{
    display: grid;
    gap: 1em;
    justify-items: center;
    width: 300px;
    overflow: hidden;
    margin: 0 auto;
    border-style: dashed;
    background-color: #f4f4f4;
}
.imagen_nosotros{
    padding-top: 10px;
    justify-items: center;
    width: 270px;
    height: 350px;
}